<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Info_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{698,129}}</string>
                <key>offset</key>
                <string>{-2,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{698,129}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,0},{700,243}}</string>
                <key>offset</key>
                <string>{-2,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{700,243}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{704,337}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{704,337}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,243},{712,395}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{712,395}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,638},{750,387}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,387}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,638},{750,387}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,387}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1025},{712,395}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{712,395}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1025},{750,337}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,337}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1420},{750,349}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,349}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1420},{750,393}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,393}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1813},{750,395}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,395}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1813},{750,395}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,395}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2208},{750,395}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,395}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2208},{718,395}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{718,395}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2603},{710,395}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{710,395}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
            <key>Info_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2603},{710,395}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{710,395}}</string>
                <key>sourceSize</key>
                <string>{750,399}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>textureFileName</key>
            <string>howtoplay.png</string>
        </dict>
    </dict>
</plist>
