<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cycle_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,0},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,0},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,0},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,0},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,0},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3024,0},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,0},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,222},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,222},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,222},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,222},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,222},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,222},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,222},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{3024,222},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,222},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,444},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,444},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,444},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,444},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,444},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,444},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,444},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,444},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{3024,444},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,444},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,666},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,666},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,666},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,666},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,666},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,666},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,666},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,666},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{3024,666},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,666},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,888},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,888},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,888},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,888},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,888},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,888},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,888},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,888},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{3024,888},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,888},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1110},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1110},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1110},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1110},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1110},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,1110},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,1110},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,1110},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{3024,1110},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,1110},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1332},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00061.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1332},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00062.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1332},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1332},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1332},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,1332},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,1332},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,1332},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00068.png</key>
            <dict>
                <key>frame</key>
                <string>{{3024,1332},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00069.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,1332},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00070.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1554},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00071.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1554},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00072.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1554},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1554},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1554},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,1554},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,1554},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00077.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,1554},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00078.png</key>
            <dict>
                <key>frame</key>
                <string>{{3024,1554},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00079.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,1554},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00080.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1776},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00081.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1776},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00082.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1776},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00083.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1776},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00084.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1776},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00085.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,1776},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,1776},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,1776},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00088.png</key>
            <dict>
                <key>frame</key>
                <string>{{3024,1776},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00089.png</key>
            <dict>
                <key>frame</key>
                <string>{{3402,1776},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00090.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1998},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00091.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1998},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00092.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1998},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1998},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1998},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,1998},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2268,1998},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2646,1998},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
            <key>Cycle_00098.png</key>
            <dict>
                <key>frame</key>
                <string>{{3024,1998},{378,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,222}}</string>
                <key>sourceSize</key>
                <string>{378,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>textureFileName</key>
            <string>wheelandlefthand.png</string>
        </dict>
    </dict>
</plist>
