<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WiperFlyer0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,0},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer10.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,0},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,0},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,383},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,383},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,383},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,383},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,766},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer7.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,766},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer8.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,766},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
            <key>WiperFlyer9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,766},{485,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,383}}</string>
                <key>sourceSize</key>
                <string>{485,383}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>wiperflyer.png</string>
        </dict>
    </dict>
</plist>
